@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", 'Times New Roman', Times, serif;
}


body{
    background-color: lightgreen;
}

div{
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    margin: 0 auto;
    padding-block: 10px;
}

#result{
    font-size: x-large;
}

.buttons{
    padding: 20px;
    font-size: 4rem;
    background-color: white;
    border-radius: 16px;
}